<h1>Welcome to Site</h1>
Check out the <%= link_to 'List', lists_path, class: "btn btn-default btn-xs"   %>
<BR>
Check out the <%= link_to 'Tools', tools_path, class: "btn btn-default btn-xs"   %>
<p id="notice"><%= notice %></p>
